[Unit]
Description=reverse traceroute server (IPv6)
After=network-online.target
  
[Service]
Type=simple
ExecStart=/usr/sbin/augsburg-traceroute-server-v6 -n 5000 -t 5000000000 %I
 
[Install]
WantedBy=multi-user.target
