[Unit]
Description=reverse traceroute server (IPv4)
After=network-online.target
  
[Service]
Type=simple
ExecStart=/usr/sbin/augsburg-traceroute-server-v4 -n 5000 -t 5 %I
 
[Install]
WantedBy=multi-user.target
