Source: augsburg-traceroute-server
Section: net
Priority: optional
Maintainer: Valentin Heinrich <v.heinrich99@gmail.com>
Build-Depends: clang,
               debhelper-compat (= 12),
	       gcc-multilib,
               libelf-dev,
               linux-headers-generic,
               llvm,
               pkg-config
Standards-Version: 4.5.0
Homepage: https://github.com/HSAnet/reverse-traceroute

Package: augsburg-traceroute-server
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Contains the reverse-traceroute server binaries
 for both IPv4 and IPv6. The correspoding systemd service-templates
 are created as well.
